language: c
os: linux
dist: focal

branches:
  only:
    - master

addons:
  apt:
    packages:
      - doxygen
      - graphviz
      - git

script:
  - cd $TRAVIS_BUILD_DIR
  - git clone https://github.com/ps2dev/ps2sdk
  - cp -Rf docs/ ps2sdk/docs
  - cd ps2sdk/docs
  - doxygen doxy-index.conf
  - doxygen doxy-ee.conf
  - doxygen doxy-iop.conf
  - doxygen doxy-index.conf
  - cd $TRAVIS_BUILD_DIR

deploy:
  provider: pages
  strategy: git
  local_dir: ps2sdk/docs/html
  token: $GITHUB_TOKEN
  on:
    branch: master
